.box{
    width: 400px;
    height: 400px;
    border: 1px solid gray;
    text-align: center;
    padding: 20px;
    margin-top: 50px;
}

.title{
    display: inline;
}

.title2{
    display: inline;
}

.descrition{
    color: rgb(255,0,0);
}